<header>
  <h1 class="header-left">アニレビュ</h1>
  <div class="header-text">理解が深まるアニメレビューサイト!<br>自分に合ったアニメを探そう!</div>
  <div class="header-right">
    <input type="search" name="query" placeholder="タイトルを入力(ワンピース)など" >
    <input type="submit" value="検索"　class="input-search">
    <div class="text">＃ワンピース　＃とらドラ！　＃NARUTO　＃BLEACH</div>
  </div>
</header>
